NODE_ENV=testing
AUTH0_CONNECTION=
AUTH0_DOMAIN=
AUTH0_DOMAIN_ORIG={{Same as auth0 domain unless using reverse proxy}}
AUTH0_CLIENT_ID=
EMAIL_TO_TEST={{ your email }}
AUTH0_MGMT_CLIENT_ID={{ client id of your AUth0 Management API client}}
AUTH0_MGMT_CLIENT_SECRET={{ client secret of your AUth0 Management API client}}
USER_ID={{ user id of user profile to update or get }}
AUTH0_MGMT_V1_CLIENT_ID=
AUTH0_MGMT_v1_CLIENT_SECRET=